<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
      </select>

    </div>
    <div>
      <!--Body content-->

      <div class="ui list">
        <div class="item" ng-repeat="phone in phones | filter:query | orderBy:orderProp">
          <img class="ui avatar image" ng-src="{{phone.imageUrl}}">
          <div class="content">
            <a href="#/phones/{{phone.id}}">{{phone.name}}</a>
            <p>{{phone.snippet}}</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>